body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

p {
    margin: 0;
    padding: 0;
}


a {
    text-decoration: none;
    color: white
}


#app, #lvl1, #lvl2 {
    margin: 0;
    background-image: url(images/field-illustration.jpeg);
    height: 100vh;
    width: 100%;
    background-size: cover;       
    background-repeat: no-repeat; 
    background-position: center;  
   
}


#lvl2 {
    background-image: url(images/ocean-illustration.jpeg);
}

#flex {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}



#instr p {
    margin: 20px;
    width: 46em;
    padding: 30px 50px;
    text-align: center;
    background-color: rgba(143, 93, 0, 0.808);
    color: white;
    font-size: 20px;
    border-radius: 15px;
    letter-spacing: 1px;
    line-height: 25px;
}

.item {
    flex: 1;

}



#title {
    font-size: 100px;
    text-align: center;
    height: 40px;
    color: rgb(0, 109, 0);
   
}

#startbtn, #startbtn2, #backbtn, #backbtn2 {
    margin: 30px;
    padding: 15px 40px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: white;
    background-color: rgb(0, 109, 0);
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px rgba(143, 93, 0, 0.808);
}

#startbtn:hover {background-color: rgb(0, 80, 0);}

#startbtn:active {
    background-color: rgb(0, 80, 0);
    box-shadow: 0 9px rgba(104, 68, 0, 0.808);
    transform: translateY(4px);
}

#backbtn, #backbtn2 {
    position: fixed;
    left: 0;
    
}

/* Level 1 CSS -------------------------------------------------------------------------------------------------*/

#lvl1, #lvl2 {
    display: flex;
    align-items: start;
    justify-content: end;
}




#question {
     display: flex;
     flex-direction: column;
     width: 20%;
     height: 100vh;
    justify-content: end;
}

#questionbtn1, #checkBtn, #answer, #reply {
    text-align: center;
    flex: 1;
    height: 33.3%;
    margin: 0;
    font-size: 1.6em;
    background-color: initial;
    background-image: linear-gradient(-180deg, #FF7E31, #E62C03);
    border-radius: 6px;
    color: #FFFFFF;
    cursor: pointer;
    border: none;
    font-family: Inter,-apple-system,system-ui,Roboto,"Helvetica Neue",Arial,sans-serif;
    line-height: 40px;

}



#answer {
    background-image: none;
    background-color: beige;
    outline: none;
    color: black;
    font-size: 1.5em;
}

input:focus::placeholder {
  color: transparent;
}

#reply {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
/* 
#result {
    
} */

/* ::placeholder {
    color: #FFFFFF;
} */

#questionbtn1 {
    font-size: 3em;
}

#checkBtn {
    width: 100%;
    height: 100%;
}
/* #result {
    height: 100%;
    width: 100%;
} */

#treeContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    position: fixed;
    height: 25%;
    width: 80%;
    bottom: 0;
    left: 0;
    z-index: 1;
    }
#fishContainer {
    height: 100%;
    width: 80%;
    gap: 50px;
}
#treeCount, #fishCount {
    margin: 10px;
    position: fixed;
    left: 40%;
    background-color: rgb(255, 255, 255);
    padding: 25px;
    text-align: center;
    border-radius: 5px;
}