html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

p {
    margin: 0;
    padding: 0;
}


a {
    text-decoration: none;
    color: white;
    z-index: 100;
}

strong {
    font-size: 25px;
}


#app, #lvl1, #lvl2 {
    margin: 0;
    height: 100vh;
    width: 100%;
    background-size: cover;       
    background-repeat: no-repeat; 
    background-position: center center;  
}

#lvl1 {
    background-image: url(images/field-illustration.jpeg);
}

#app {
    background-image: url(images/resizedriver-illustration.jpg);

}

#lvl2 {
    background-image: url(images/ocean-illustration.jpeg);
}

#flex {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}



#instr p {
    margin: 20px;
    width: 46em;
    padding: 30px 50px;
    text-align: center;
    background-color: #d05b21;
    color: white;
    font-size: 20px;
    border-radius: 15px;
    letter-spacing: 1px;
    line-height: 20px;
}



#title {
    font-size: 100px;
    text-align: center;
    height: 40px;
    color: rgb(0, 109, 0);
   
}


.topChart {
   
    position: absolute;
    top: 0;
    z-index: 27;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 50px;
    width: 80%;
    font-size: 20px;
    font-weight: bold;
    gap: 5px;
    background-color: green;
    text-align: center;
}

#backbtn, #backbtn2, #counter,#counter1, #treeCount, #fishCount {
    color: white;
    width: 33%;
}


#startbtn, #startbtn2 {
    margin: 30px;
    padding: 15px 40px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: white;
    background-color: rgb(0, 109, 0);
    border: none;
    border-radius: 15px;
}


#startbtn:hover {background-color: rgb(0, 80, 0);}

#startbtn:active {
    background-color: rgb(0, 80, 0);
    transform: translateY(4px);
}


/* Level 1 CSS -------------------------------------------------------------------------------------------------*/

#lvl1, #lvl2 {
    display: flex;
    align-items: start;
    justify-content: end;
}






#question {
     display: flex;
     flex-direction: column;
     width: 20%;
     height: 100vh;
    justify-content: end;
}

#questionbtn1, #checkBtn, #answer, #reply {
    padding: 0;
    text-align: center;
    flex: 1;
    height: 33.5%;
    margin: 0;
    font-size: 1.6em;
    /* background-color: initial; */
    background-color: #ff8040;
    color: #FFFFFF;
    cursor: pointer;
    border: none;
    font-family: Inter,-apple-system,system-ui,Roboto,"Helvetica Neue",Arial,sans-serif;
    line-height: 40px;

}




#answer {

    background-color: beige;
    outline: none;
    color: black;
    font-size: 1.5em;
}

input:focus::placeholder {
  color: transparent;
}

#reply {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


#questionbtn1 {
    font-size: 3em;
}

#checkBtn {
    width: 100%;
    height: 100%;
    background-image: none;
}

#treeContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    position: fixed;
    height: 25%;
    width: 80%;
    bottom: 0;
    left: 0;
    z-index: 1;
    }

/* Level 2 CSS*/
#fishContainer {
    height: 100%;
    width: 80%;
}

/* Modal CSS */

.modal-container {
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 15;
}

.modal {
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  width: 400px;
}

.modal-content {
  padding: 20px;
}

.close-btn {
  background: transparent;
  border: none;
  font-size: 25px;
  position: absolute;
  top: 5px;
  right: 12px;
  cursor: pointer;
}

.modal-container .submit-btn {
  padding: 10px 30px;
  font-weight: bold;
  background: crimson;
  border: none;
  color: #fff;
  cursor: pointer;
}

/* JavaScript */
.modal-container.show-modal {
  display: block;
}


/* Phone orientation and screen*/

@media screen and (max-width: 1024px) {

    

    #lvl1 {
        background-image: url(images/resizedforest.jpg);
    }


    #question {
        z-index: 500;
        position: absolute;
        bottom: 0;
        flex-direction: row;
        width: 100%;
        height: 15%;
        align-items: end;
        justify-content: end;
    }

    #questionbtn1, #answer, #checkBtn, #reply {
        z-index: 600;
        text-align: center;
        height: 100%;
        margin: 0;
        font-size: 16px;
        background-color: #ff8040;
        color: #FFFFFF;
        cursor: pointer;
        border: none;
    }



    .topChart {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        height: 50px;
        width: 100%;
        font-size: 12px;
        font-weight: bold;
        gap: 2px;
        background-color: green;
        text-align: center;
        padding: 0;
    }



   #answer {
        background-color: beige;
        color: black;
        font-size: 1.2em;
        width: 80%;
    }

    .item3 {
        display: inline-block;
    }


    #instr p {
        margin: 160px 0 40px 0;
        width: 23em;
        padding: 10px 30px;
        font-size: 12px;
        line-height: 20px;
    }

    #instr p strong {
        font-size: 12px;
        }



    #startbtn, #startbtn2 {
        margin: 10px;
        padding: 15px 40px;
        font-size: 18px;
    }

    #fishContainer {
        height: 60%;
        width: 100%;
        /* background-color: red; */
    }

    #treeContainer {
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
        position: fixed;
        height: 25%;
        width: 100%;
        bottom: 15%;
    }

     #title {
        font-size: 4em;
    }

    }



  /* Tablet orientation and screen */
    @media (min-width: 768px) and (max-width: 1024px) {

        #lvl1 {
            background-image: url(images/field-illustration.jpeg);
        }

        #questionbtn1, #checkBtn {
        font-size: 2em;
        }

        .topChart {
            font-size: 18px;
        }
    }